body{
  
  width: 33%;
}



/* 
styling for result banner 

*/
#res{
  background-color: lightgray;
  border: 2px solid black;
  height: 48px;
  font-size: 20px;
}


/* 
style for button 0 , and button 1
*/

#btn0 , #btn1{
  background-color: lightgreen;
  color: brown;
}

/* 
style for btnClr, and btnEql
*/

#btnClr , #btnEql{
  background-color: darkgreen;
  color: white;
}


/* 
style for + , - , * , \
*/

#btnSum , #btnSub, #btnMul, #btnDiv{
  background-color: black;
  color:red;
}

/* 
style for all the children button inside btns container
*/

#btns > button{
  width: 25%;
  height: 36px;
  font-size: 18px;
  margin:0px;
  float: left;
  border: 1px solid white;
  box-shadow: 0px 2px 3px lightblue;

}


#btns > button:hover{
  background-color: gold;
  color: black;
  cursor: pointer;
}

